h1{
    text-align: center;
    text-shadow: 5px 5px 5px lightblue;
    color: darkblue;
}
h2{
    background-color: lightgrey;
    display: inline;
    padding: 5px;
    border-radius: 10px;
}
h3{
    font-size: 25px;
}h4{
    font-size: 20px;
}
hr{
    border-color: limegreen;
}
b{
    font-size: 20px;
}
table,th,td{
    border: 2px solid rgb(199, 60, 36);
    border-collapse: collapse;
    padding: 10px;
}
p{
    font-size: 20px;
}
embed{
    border: 2px solid brown;
}
img{
    border: 1px solid crimson;
    /* background-attachment: fixed; */
    height: 200px;
    width: 300px;
}
span{
    color: rgb(73, 4, 44);
    background: lightpink;
}
video{
    height: 250px;
    width: 500px;
    border: 2px solid brown;
}
button{
    border: 1px solid red;
    background-color: powderblue;
    color: blue;
    text-shadow: 5px 5px 5px lightblue;
    font-size: 25px;
    padding: 3px;
    display: inline-block;
}
.hm{
    margin-top: 40px;
    margin-bottom: 20px;
}
.nt{
   float: left;
   margin-left: 600px;
   margin-top: -60px;
}
.pw{
    float: right;
    margin-top: -60px;
}
.box a{
    text-decoration: none;
    color: blue;
    text-shadow: 5px 5px 5px lightblue;
    background-color: powderblue;
    padding: 3px;
    font-size: 25px;

}