<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Header</title>
    <style>
        .logo img{
            height: 70px;
            width: 100px;
        }
        .menu a{
            text-decoration: none;
        }
        a{
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">
        <img src="https://images.indianexpress.com/2021/01/myntra.png"></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Kids</a></li>
                <li><a href="#">Home&Living</a></li>
                <li><a href="#">Beauty</a></li>
                <li><a href="#">Studio<sup>New</sup></a></li>
            </ul>
        </div>
        <input type="search" name="search" id="" value="Search for products,brands and more"><br>
        <i class="fa-regular fa-user"></i>Profile <br><br>
        <i class="fa fa-heart"></i>Wishlist <br><br>
        <i class="fa fa-bag-shopping"></i>Bag <br><br>
    </header>
</body>
</html>