<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Header</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="https://images.indianexpress.com/2021/01/myntra.png"></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Kids</a></li>
                <li><a href="#">Home&Living</a></li>
                <li><a href="#">Beauty</a></li>
                <li><a href="#">Studio<sup>New</sup></a></li>
                <li><input type="search" name="search" id="" value="Search for products,brands and more"></li>
                <li><ruby>Profile<rt><i class="fa-regular fa-user fa-2xl"></i></rt></ruby></li>
                <li><ruby>Wishlist<rt><i class="fa fa-heart fa-2xl"></i></rt></ruby></li>
                <li><ruby>Bag<rt><i class="fa fa-bag-shopping fa-2xl"></i></rt></ruby></li>
                <li><a href="https://api.whatsapp.com/send?phone=8758046704&text=hii">Contact Us</a></li>
                    
            </ul>
        </div>
    </header>
</body>

</html>