*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
header{
    /* background-color: transparent; */
    height: 70px;
    width: 100%;
    /* position: fixed; */
    top: 0;
}
.logo{
    height: 70px;
    width: 30%;
    float: left;
    /* background: transparent; */
}
.logo img{
    height: 50px;
    width: 160px;
    margin: 10px 60px;
}
.menu{
    height: 50px;
    width: 70%;
    float: left;
    /* background: transparent; */
    text-decoration: none;
    color: #488668;
    line-height: 70px;
    cursor: pointer;
    /* position: fixed; */
}
/* ul{
    height: 60px;
    text-align: center;
    line-height: 50px;
    margin: 0;
} */
/* ul li{
    list-style: none;
    display: inline;
    margin: 40px;
} */
li{
    /* height: 70px; */
    list-style: none;
    display: inline;
    /* padding: 5px 0px; */
    margin: 35px;
    color: #488668;
}
li input{
    border-radius: 5px;
    padding: 5px 5px;
    background-color: #00572d;
    color: #fff;
    cursor: pointer;
}
li a {
    text-decoration: none;
    color: #488668;
}
/* Slider Start */
.container{
    position: relative;
}
.content-1{
    position: absolute;
    color: #fff;
    /* position: fixed; */
    font-size: 40px;
    top: 200px;
    left: 500px;
    z-index: 2;
    /* position: relative; */
}
.content-2{
    position: absolute;
    color: #000;
    background-color: #fff;
    border: 1px solid gray;
    padding: 20px 40px;
    border-radius: 50px;
    top: 260px;
    left: 510px;
    z-index: 2;
}
select:focus{
    outline: none;
}
select{
    border: none;
    margin: 0px 10px;
}
.content-3{
    position: absolute;
    color: #fff;
    font-size: 40px;
    top: 340px;
    left: 310px;
    z-index: 2;
}
.content-4{
    position: absolute;
    color: #fff;
    background-color: #000;
    font-size: 15px;
    top: 410px;
    left: 590px;
    z-index: 2;
    border-radius: 20px;
    border: 1px solid black;
    padding: 25px 20px;
    border: none;
}
.icon{
    
}
.content-4:hover{
    color: #000;
    background-color: #fff;
    border-radius: 20px; 
}
#slider{
    height: 800px;
    z-index: 1;
}
#slider img{
    /* height: 700px; */
    position: relative;
    width: 100%;
    filter: brightness(50%);
    /* box-sizing: border-box; */
    /* margin-top: 75px; */
    /* top: 0;  */
    /* left: 0; */
}
.tt-1{
    position: absolute;
    font-size: 50px;
    color: #fff;
    background-color: transparent;
    top: 50px;
    left: 450px;
}
.tt-2{
    position: absolute;
    color: yellow;
    font-size: 50px;
    top: 110px;
    left: 550px;
}
.tt-3{
    position: absolute;
    color: #fff;
    background-color: transparent;
    font-size: 50px;
    top: 50px;
    left: 450px;
}
.tt-4{
    position: absolute;
    color: yellow;
    font-size: 50px;
    top: 110px;
    left: 410px;
}
.tt-5{
    position: absolute;
    color: #fff;
    background-color: transparent;
    font-size: 50px;
    top: 50px;
    left: 450px;
}
.tt-6{
    position: absolute;
    color: yellow;
    font-size: 50px;
    top: 110px;
    left: 570px;
}
/* Slider End */


/* cart start */

*{
    font-family: 'Open Sans', sans-serif;
}
.slide-1{
    background-color: white;
    Box-shadow: 2px 2px 5px gray;
    height: 400px;
    width: 270px;
    position: relative;
    float: left;
    margin: 10px;
    padding: 10px;
}
.slide-2{
    background-color: white;
    Box-shadow: 2px 2px 5px gray;
    height: 400px;
    width: 270px;
    position: relative;
    float: left;
    margin: 10px;
    padding: 10px;
    /* left: 50px; */
}
.slide-3{
    background-color: white;
    Box-shadow: 2px 2px 5px gray;
    height: 400px;
    width: 270px;
    position: relative;
    float: left;
    margin: 10px;
    padding: 10px;
}
.slide-4{
    background-color: white;
    Box-shadow: 2px 2px 5px gray;
    height: 400px;
    width: 270px;
    position: relative;
    float: left;
    margin: 10px;
    padding: 10px;
}
.slide-5{
    background-color: white;
    Box-shadow: 2px 2px 5px gray;
    height: 400px;
    width: 270px;
    position: relative;
    float: left;
    margin: 10px;
    padding: 10px;
}
.slide-6{
    background-color: white;
    Box-shadow: 2px 2px 5px gray;
    height: 400px;
    width: 270px;
    position: relative;
    float: left;
    margin: 10px;
    padding: 10px;
}
.slide-7{
    background-color: white;
    Box-shadow: 2px 2px 5px gray;
    height: 400px;
    width: 270px;
    position: relative;
    float: left;
    margin: 10px;
    padding: 10px;
}
.slide-8{
    background-color: white;
    Box-shadow: 2px 2px 5px gray;
    height: 400px;
    width: 270px;
    position: relative;
    float: left;
    margin: 10px;
    padding: 10px;
}
.img1{
    height: 250px;
    width: 250px;
    position: absolute;
    left: 0px;
    margin: 10px 10px;
}
.img2{
    height: 250px;
    width: 250px;
    position: absolute;
    left: 0px;
    margin: 10px 10px;
}
.img3{
    height: 250px;
    width: 250px;
    position: absolute;
    left: 0px;
    margin: 10px 10px;
}
.img4{
    height: 250px;
    width: 250px;
    position: absolute;
    left: 0px;
    margin: 10px 10px;
}
.img5{
    height: 250px;
    width: 250px;
    position: absolute;
    left: 0px;
    margin: 10px 10px;
}
.img6{
    height: 250px;
    width: 250px;
    position: absolute;
    left: 0px;
    margin: 10px 10px;
}
.img7{
    height: 250px;
    width: 250px;
    position: absolute;
    left: 0px;
    margin: 10px 10px;
}
.img8{
    height: 250px;
    width: 250px;
    position: absolute;
    left: 0px;
    margin: 10px 10px;
}
.text-1{
    top: 0px;
    left: 238px;
    position: absolute;
    color: white;
    z-index: 1;
    background-color: red;
    padding: 2px 5px;
}
.text-2{
    position: absolute;
    color: #fc636b;
    top: 290px;
    font-size: 19px;
    left: 60px;
}
.text-3{
    position: absolute;
    top: 320px;
    left: 70px;
}
.text-4{
    position: absolute;
    top: 320px;
    left: 190px;
    color: gray;
    text-decoration: line-through;
}
.text-5{
    position: absolute;
    top: 360px;
    left: 60px;
    color: #fff;
    transition: 0.4s;
    background-color: #2fdab8;
    padding: 8px 30px;
}
.text-5:hover{
    outline: 2px solid #2fdab8;
    outline-offset: 6px;
}
.text-6{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 2px;
    opacity: 0;
    font-size: larger;
    transition: 1s;
    width: 270px;
    text-align: center;
}
.text-6:hover{
    background-color: #2fdab8;
    /* opacity: 1; */
}
.info1{
    top: 0;
}
.info2{
    top: 0;
}
.info3{
    top: 0;
}
.info4{
    top: 0;
}
.info5{
    top: 0;
}
.info6{
    top: 0;
}
.info7{
    top: 0;
}
.info8{
    top: 0;
}
.info1:hover .text-6{
    top: 232px;
    opacity: 1;
}
.info2:hover .text-6{
    top: 232px;
    opacity: 1;
}
.info3:hover .text-6{
    top: 232px;
    opacity: 1;
}
.info4:hover .text-6{
    top: 232px;
    opacity: 1;
}
.info5:hover .text-6{
    top: 232px;
    opacity: 1;
}
.info6:hover .text-6{
    top: 232px;
    opacity: 1;
}
.info7:hover .text-6{
    top: 232px;
    opacity: 1;
}
.info8:hover .text-6{
    top: 232px;
    opacity: 1;
}

/* cart end */
